<<<<<<< HEAD
#Abarth1{
=======
#tree{
>>>>>>> origin/master
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
<<<<<<< HEAD
    left: 125px;
    top: 100px;
}

#Abarth1:hover {opacity:0.7}

#Abarth2{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    left: 625px;
    top: 100px;
}

#Abarth2:hover {opacity:0.7}

#Abarth3{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    left: 1125px;
    top: 100px;
}

#Abarth3:hover {opacity:0.7}
=======
    left: 100px;
    top: 200px;
}

#tree:hover {opacity:0.7}
>>>>>>> origin/master

#back{
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 0px;
}

<<<<<<< HEAD
#back:hover {opacity: 1}

.abarth124 {
    font-family: "Courier New";
    color: #330000;
    position:absolute;
    top:40px;
    left: 100px;
    font-size: 200%;
    font-weight: bold;
}

.abarth695{
    font-family: "Courier New";
    color: #330000;
    position:absolute;
    top:40px;
    left: 575px;
    font-size: 200%;
    font-weight: bold;
}

.abarth131{
    font-family: "Courier New";
    color: #330000;
    position:absolute;
    top:40px;
    left: 1100px;
    font-size: 200%;
    font-weight: bold;
}
=======
#back:hover {opacity: 1}
>>>>>>> origin/master
