body {background-color: whitesmoke;}

#logout{
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    left: 1395px;
    top: 0px;
}

#logout:hover {opacity: 1}

#search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search:focus {
    width: 84%;
}

#profile{
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    left: 1285px;
    top: 0px;
}

#profile:hover {opacity: 1}

#tree{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    left: 100px;
    top: 200px;
}

#tree:hover {opacity:0.7}

h1{
    font-family: Arial;
    color: steelblue;
}